<h1>Hello Art Index</h1>
<div class="image_index_flex">
  <div class="row">
    <% @art.each do |art| %>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img class="index_image" src="<%=art.file_path %>" alt="painting">
        </a>
      </div>
    <% end %>
  </div>
</div>

